h1 {
  color: gray;
  font-family: "Fuggles", cursive;
  text-align: center;
  font-size: 85px;
}
h2,
h3,
h4,
h5,
h6 {
  color: gray;
  font-family: "Raleway", sans-serif;
  text-align: center;
}
header {
  background: white;
  top: 0;
  width: 100%;
  position: sticky;
}
.btn {
  background: blueviolet;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  padding: 15px 30px;
  border: 1px solid gray;
}
footer {
  padding: 50px;
}
.tidbit {
  padding: 25px;
}
