h1 {
  color: #bdbdbd;
  font-family: "Calligraffitti", cursive;
  text-align: center;
  font-size: 80px;
  padding: 10px;
}
h2 {
  color: #121212;
  font-family: "Calligraffitti", cursive;
  text-align: center;
  font-size: 35px;
}
header {
  background: linear-gradient(#aaaaaa, #080808);
  top: 0;
  width: 100%;
  position: sticky;
}
p {
  color: #aaaaaa;
  font-family: "Abel", sans-serif;
  font-size: 20px;
}
.btn {
  background: #aaaaaa;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  padding: 15px 30px;
  border: 1px solid #aaaaaa;
  transition: #aaaaaa 0.5s ease, #080808 0.5s ease;
}
.btn:hover {
  background: #080808;
  color: #f2f2f2;
}
footer {
  padding: 50px;
}
.tidbit {
  padding: 25px;
}
i {
  padding: 10px;
}
body {
  background: #f2f2f2;
}
.navigation-bar {
  background-color: #d2d2d2 !important;
}
h6 {
  color: #121212;
  text-align: center;
  font-family: "Abel", sans-serif;
  padding-bottom: 10px;
  font-size: 20px;
}
@media (max-width: 900px) {
  body {
    text-align: center;
  }
  img {
    display: block;
  }
  .btn {
    display: block;
    margin: 0 auto;
  }
}
a {
  text-decoration: none;
  color: #121212;
}
img {
  max-height: 600px;
}
.header-img {
  height: 150px;
  width: 600px;
  object-fit: cover;
}
